*
current_times.txt
!datasets/
!datasets_large/
!generatoren/
!Anleitung cygwin python.txt
!create_calls.sh
!alspp.py
!calls_datasets_generator.py
!normal_kmeans.py

!datasets/*
!datasets_large/*

!venv/

venv/*
!venv/Lib/

venv/Lib/*
!venv/Lib/site-packages/

venv/Lib/site-packages/*
!venv/Lib/site-packages/sklearn/

venv/Lib/site-packages/sklearn/*
!venv/Lib/site-packages/sklearn/cluster

venv/Lib/site-packages/sklearn/cluster/*
!venv/Lib/site-packages/sklearn/cluster/_kmeans.py
